* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.container {
  width: 80%;
  padding: 10px;
}
/*============================= Navbar======================================= */

.navbar {
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex: 1 1;
  align-items: center;
  text-transform: uppercase;
  height: 50px;
  background: rgb(0, 0, 0);
  padding: 1rem 2rem;
  width: auto;
}
.navbar__logo {
  font-size: 1.5rem;
  font-style: bold;
}

.navbar__items ul {
  display: flex;
  align-items: center;

  flex: 1 1;
  justify-content: center;
  list-style: disc;
}

.navbar__items ul li {
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}

.navbar__items ul li a {
  color: white;
  text-decoration: none;
}

.navbar__items ul li a:hover {
  color: grey;
}

/* Main Section */

.main {
  background: url(img/mainimage.jpg) no-repeat center center;
  background-size: cover;
  min-height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__header {
  background: rgba(255, 255, 255, 0.26);

  color: black;
  width: auto;
  backdrop-filter: blur(3px);
  padding: 10px 20px;
  border-radius: 10px;
  /* margin-bottom: 150px; */

  box-shadow: 5px 10px 10px black;
}

.main__header__paragraph {
  margin-top: 5px;
  font-size: 18px;
}

.bookDetails {
  /* background: red; */
  background: rgba(128, 128, 128, 0.505);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(24, 21, 21, 0.504);
  padding: 10px;
  margin: 20px;
  width: 100%;
}

.bookDetails > div {
  /* background: blue; */
  display: flex;
  padding: 10px;
  flex-direction: row;
}
.p-design {
  /* font-size: 25px; */
  font-weight: bolder;
}
.bookdetails-container {
  padding: 10px;
  width: 400px;
  /* height: 400px; */
  display: flex;
  flex-wrap: wrap;
  /* display: flex; */

  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#display {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 150px;
}
.cart {
  display: flex;
  
}

.cart__Amount {
}
